// -----------------------------
// FUNCTIONS
// -----------------------------
@use "sass:math";
@use "sass:color";
@use "variables" as *;

// - REM Conversion Function
// - Example: to-rem(32px) => 2rem
// -----------------------------
@function to-rem($value, $base: 16px) {
  @if math.is-unitless($value) {
    @return math.div($value, math.div($base, 1px)) * 1rem;
  }

  @if math.unit($value) == "px" {
    @return math.div($value, $base) * 1rem;
  }

  // already in rem/em/% or other length - return unchanged
  @return $value;
}

// - Scale Color Function
// - Wrapper for sass:color.scale()
// - Example: scale-color($light-primary, $lightness: 10%)
// -----------------------------
@function scale-color($color, $args...) {
  @return color.scale($color, $args...);
}
